#historia{
    width: 100vw;
}

.historia-foto{
    width: 40vw;
    height: 30vw;
    object-fit: cover; 
}

.fotos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centrado{
    justify-self: center;
    padding: 1rem;
}

p{
    text-align: center;
}

