#home {
    background-color: var(--aplicacion);
    width: 100vw;
    overflow-x: hidden;
}

.body{
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.inicio {
    width: 100vw;
    display: grid;
    grid-template-rows: 0;
    place-content: center;
    background-color: #000000;
}

.linea {
    z-index: 1100;
    position: absolute;
    left: 50%;
    height: 60vh;
    width: 0.3vw;
    transform: translate(-0.15vw);
    background-color: var(--primario);
    box-shadow: var(--shadow-elevation-4-box);
}

.linea-cover {
  z-index: 1150;
  position: absolute; 
  left: 50%;
  top: 0;
  height: 60vh;
  width: 0.5vw;
  transform: translateX(-0.2vw); 
  background-color: black;
}

.circulo {
    box-shadow: var(--shadow-elevation-4-box);
    z-index: 1200;
    position: absolute;
    left: 50%;
    top: 60vh;
    transform: translate(-0.5vw,0);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: var(--primario);
}

.imagenes {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    cursor: pointer;
}

.imagen{
    overflow: hidden;
    transition: opacity 1.5s;
    opacity: 0.3;
}

.foto{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imagen:hover {
    opacity: 1;
}

.imagenes div img {
    position: absolute;
    width: 50vw;
    height: 100vh;
}

.velo{
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: 1000;
    background: #000000;    
}

.velo-ropa{
    background: linear-gradient(270deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-position: 0 100%;
    transition: background 1s;
}

.velo-barber{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-position: 0 100%;
    transition: background 1s;
}

.logo{
    width: 40vh;
    height: 40vh;
    transition: width 0.1s, height 0.1s;
    object-fit: cover; 
    
}

.div-foto{
    z-index: 2000;
    width: 40vh;
    height: 40vh;
    transform:translateX(calc(50vw - 20vh)) translateY(25vh) ;
    overflow: hidden;
}
