#Historia{
    padding: 1rem;
}

.left{
    justify-self: start;
    padding: 1rem;
}

.right{
    justify-self: end;
    padding: 1rem;
}

p{
    font-size: 1rem;
    align-self: center;
}

.center{
    justify-self: center;
    padding: 1rem;
}