
#root{
  width: 100vw;
  height: 100vh;
  display: grid;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

main{
  height: 100vh;
  overflow-y: auto;
}