/** @format */

html {
    --modo: dark;
    --primario: rgb(255, 255, 0);
    --primario10: #FFDB58;
    --primario-10: rgb(255, 215, 0);
    --on-primario: rgba(0, 0, 0, 0.87);
    --on-primario-bajada: rgba(0, 0, 0, 0.6);
    --secundario: rgb(255, 107, 0);
    --secundario10: rgb(255, 149, 5);
    --secundario-10: rgb(204, 88, 3);
    --on-secundario: rgba(0, 0, 0, 0.87);
    --on-secundario-bajada: rgba(0, 0, 0, 0.6);
    --terciario: #FFFFFF;
    --on-terciario: rgba(6, 6, 6, 1);
    --on-terciario-bajada: rgba(0, 0, 0, 0.6);
    --ok: rgba(168, 235, 16, 1);
    --error: #b00020;
    --aplicacion: #121212;
    --on-aplicacion: rgba(224,225,225,0.9);
    --on-aplicacion-disabled: rgba(255, 255, 255, 0.38);
    --on-aplicacion-separador: rgba(255, 255, 255, 0.12);
    --on-aplicacion-bajada: rgba(255, 255, 255, 0.6);
    --formulario: #343434;
    --on-formulario: rgba(255, 255, 255, 0.87);
    --on-formulario-disabled: rgba(255, 255, 255, 0.38);
    --on-formulario-separador: rgba(255, 255, 255, 0.12);
    --on-formulario-bajada: rgba(255, 255, 255, 0.6);
    --sobre-formulario: #454545;
    --velo: rgba(0, 0, 0, 0.32);
}

@media (prefers-color-scheme: light) {
    html {
        --modo: light;
        --formulario: #EEEEEE; 
        --on-aplicacion-disabled: rgba(0, 0, 0, 0.38);
        --on-aplicacion-separador: rgba(0, 0, 0, 0.12);
        --on-aplicacion-bajada: rgba(0, 0, 0, 0.6);
        --aplicacion: #E0E0E0;
        --on-aplicacion: rgba(255, 255, 255, 0.87);
        --on-aplicacion-disabled: rgba(255, 255, 255, 0.38);
        --on-aplicacion-separador: rgba(255, 255, 255, 0.12);
        --on-aplicacion-bajada: rgba(255, 255, 255, 0.6);
        --error: #cf6679;
        --sobre-formulario: #FAFAFA;
    }
}
